@import "tailwindcss";
@theme {
  --color-cyber-black: #0a0a0a;
  --color-cyber-gray: #1a1a1a;
  --color-cyber-green: #00ff41;
  --color-cyber-green-dim: rgba(0, 255, 65, 0.1);
  --color-cyber-red: #ff003c;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}


@layer base {
  body {
    @apply bg-cyber-black text-gray-300 font-mono;
  }
}

.cyber-border {
  @apply border border-gray-800 hover:border-cyber-green transition-colors duration-300;
}

.cyber-input {
  @apply bg-cyber-gray border border-gray-700 text-white px-4 py-2 w-full focus:outline-none focus:border-cyber-green transition-all rounded-sm;
}

.cyber-button {
  @apply bg-cyber-green text-black font-bold px-6 py-2 hover:bg-white transition-colors duration-200 uppercase tracking-wider rounded-sm;
}
